{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="background-section">
    <div class="overlay">
        <div class="container">    
            <div class="col-lg-6 mx-auto px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold text-white">The Blue Door Agency</h1>
                <p class="lead mb-4 text-white">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
                    most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
                    extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-warning btn-lg px-4 gap-3">Primary button</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h1 class="text-center py-4">Services We Offer</h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Service 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum tortor vitae porttitor mattis. Nam vestibulum purus ut justo consequat, nec vestibulum elit vehicula.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Service 2</h5>
                    <p class="card-text">Praesent quis risus eu turpis luctus rhoncus sit amet ut nisi. Fusce malesuada auctor odio, sit amet laoreet urna lobortis eget.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Service 3</h5>
                    <p class="card-text">Vivamus vestibulum leo id nisi euismod commodo. Aenean ut urna at ipsum semper consectetur sed vel quam.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center pb-3">Testimonials</h1>
    <h3 class="text-center pb-3">See what our clients have to say</h3>
    <div class="row">
        {% for portfolio in portfolios %}
        <div class="col-md-6">
            <div class="portfolio-item" onclick="toggleFlip(this);">
                <div class="portfolio-image p-3">
                    <img src="{{ portfolio.image.url }}" class="img-fluid" alt="{{ portfolio.name }}">
                </div>
                <div class="portfolio-content">
                    <h4 class="testimonial-heading">{{ portfolio.name }}</h4>
                    <p class="testimonial-font">{{ portfolio.testimonial }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<section class="container py-5">
    <h2 class="text-center mb-4">Our Partners</h2>
    <div id="partnerCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for partner in partners %}
                {% if forloop.first or forloop.counter0|divisibleby:4 %}  {# Start a new carousel item for the first partner or every 4th partner #}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="row">
                {% endif %}
                <div class="col-md-3 col-sm-6"> {# Display 4 images per row on larger and medium devices #}
                    <div class="partner-item">
                        <img src="{{ partner.image.url }}" class="img-fluid mx-auto d-block partner-image" alt="Company Logo">
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 or forloop.last %}  {# Close the row for every 4th partner or the last partner #}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>




{% endblock %}

{% block postloadjs %}

<script>
    // Auto play the carousel
    $('#partnerCarousel').carousel({
        interval: 3000 
    });

    function toggleFlip(element) {
        element.classList.toggle('flipped');
    }
</script>

{% endblock %}