{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-section">
    <div id="main_hero_banner" class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Centered hero</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
                most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
                extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>
</div>

<section class="container py-5">
    <h2 class="text-center mb-4">Services We Offers</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card bg-dark rounded text-white">
                <img src="{% static 'images/seo_icon_white.png' %}" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <h3 class="card-title text-warning">SEO</h3>
                    <p>Boost your online visibility with our customised SEO strategies.</p>
                    <h4 class="text-warning">Popular Features:</h4>
                    <p class="card-text">
                        <ul>
                            <li>Keyword Optimization</li>
                            <li>SEO Analytics and Reporting</li>
                            <li>Site speed modifications</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary text-white">
                <img src="image2.jpg" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <h3 class="card-title">Card 2</h3>
                    <p class="card-text">
                        <ul>
                            <li>Bullet point 1</li>
                            <li>Bullet point 2</li>
                            <li>Bullet point 3</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-primary text-white">
                <img src="image3.jpg" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h3 class="card-title">Card 3</h3>
                    <p class="card-text">
                        <ul>
                            <li>Bullet point 1</li>
                            <li>Bullet point 2</li>
                            <li>Bullet point 3</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}