{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="background-section">
    <div class="overlay">
        <div class="container">    
            <div class="col-lg-6 mx-auto px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold text-white">Centered hero</h1>
                <p class="lead mb-4 text-white">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
                    most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
                    extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-warning btn-lg px-4 gap-3">Primary button</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <h2 class="text-center mb-4 text-white">Services We Offers</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card bg-dark custom-card text-white">
                <i class="fa-solid fa-computer services-icon" style="color: #ffffff;"></i>
                <div class="card-body">
                    <h3 class="card-title text-warning">SEO</h3>
                    <p>Boost your online visibility with our customised SEO strategies.</p>
                    <h4 class="text-warning">Popular Features:</h4>
                    <p class="card-text">
                        <ul>
                            <li>Keyword Optimization</li>
                            <li>SEO Analytics and Reporting</li>
                            <li>Site speed modifications</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark custom-card text-white">
                <i class="fa-solid fa-mobile-screen-button services-icon" style="color: #ffffff;"></i>
                <div class="card-body">
                    <h3 class="card-title text-warning">Social Media Marketing</h3>
                    <p>Boost your online presence with managed social media services</p>
                    <h4 class="text-warning">Popular Features:</h4>
                    <p class="card-text">
                        <ul>
                            <li>Social media advertising</li>
                            <li>Targetted Campaigns</li>
                            <li>Always on mobile ads</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark custom-card text-white">
                <i class="fa-solid fa-arrow-pointer services-icon" style="color: #ffffff;"></i>
                <div class="card-body">
                    <h3 class="card-title text-warning">PPC Advertising</h3>
                    <p>Taget your audience online with PPC Advertising and Google Adwords</p>
                    <h4 class="text-warning">Popular Features:</h4>
                    <p class="card-text">
                        <ul>
                            <li>Google Adwords</li>
                            <li>Google Shopping Feed</li>
                            <li>YouTube Ads</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <h2 class="text-center mb-4 text-white">Our Partners</h2>
    <div id="partnerCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/blender_logo_no_socket_white.png" class="img-fluid mx-auto d-block" alt="Company Logo 1">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/Coca-Cola_logo_white.png" class="img-fluid mx-auto d-block" alt="Company Logo 2">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/google-white-logo-1.png" class="img-fluid mx-auto d-block" alt="Company Logo 3">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/microsoft-logo-black-and-white.png" class="img-fluid mx-auto d-block" alt="Company Logo 4">
                    </div>
                </div>
            </div>
            <!-- Add more carousel items with similar structure for additional slides -->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/images/microsoft-logo-black-and-white.png" class="img-fluid mx-auto d-block" alt="Company Logo 5">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/blender_logo_no_socket_white.png" class="img-fluid mx-auto d-block" alt="Company Logo 6">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/google-white-logo-1.png" class="img-fluid mx-auto d-block" alt="Company Logo 7">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/Coca-Cola_logo_white.png" class="img-fluid mx-auto d-block" alt="Company Logo 8">
                    </div>
                </div>
            </div>
            <!-- Add more carousel items with similar structure for additional slides -->
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}

<script>
    // Auto play the carousel
    $('#partnerCarousel').carousel({
        interval: 1000 
    });
</script>

{% endblock %}